<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Generic USBX device for USB power properties</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-USBX.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Sets plugin-type to 1 on first Processor object</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT to disable USB RHUB/HUBN/URTH and rename devices</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-USB-Reset.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Faked Embedded Controller</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC.aml</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
